In [1]:
import pandas as pd

In [13]:
df1 = pd.read_csv(r"F:\Willy's Project\Natural Language Processing (NLP)\part2_index_false.csv")
df2 = pd.read_csv(r"F:\Willy's Project\Natural Language Processing (NLP)\day4_5.csv")
df3 = pd.read_csv(r"F:\Willy's Project\Natural Language Processing (NLP)\day4_6.csv")


print(df1.shape)
print(df2.shape)
print(df3.shape)

(2860, 15)
(264, 15)
(253, 15)

In [14]:
part3 = pd.concat([df1, df2, df3])
print(part3.shape)

(3377, 15)

In [15]:
part3.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1614088874170650628,Sat Jan 14 02:35:50 +0000 2023,6041,STY Out. Saya setuju usulan ini. Saya rinci al...,1614088874170650628,https://pbs.twimg.com/media/FmZlRbYaYAYQo0w.jpg,NaN,in,"Bandung, Indonesia",219,473,1928,https://x.com/ardynshufi/status/16140888741706...,118074490,ardynshufi
1,1876169001052840083,Mon Jan 06 07:28:42 +0000 2025,23483,Dipecat pssi sty join psht https://t.co/mv5EvD...,1876169001052840083,https://pbs.twimg.com/media/Ggl9wpta8AAxlbY.jpg,NaN,in,NaN,470,647,4936,https://x.com/qrivasi/status/1876169001052840083,752746497968484353,qrivasi
2,1876408224037167386,Mon Jan 06 23:19:17 +0000 2025,6190,dari kasus STY kita belajar mau serajin apapun...,1876408224037167386,NaN,NaN,in,"Ciledug, Indonesia",219,204,2705,https://x.com/efenerr/status/1876408224037167386,89326335,efenerr
3,1876182620331241645,Mon Jan 06 08:22:49 +0000 2025,19136,STY tidak dipecat. Blio hanya dirotasi menjadi...,1876182620331241645,NaN,NaN,in,"Sleman, Indonesia",433,321,4961,https://x.com/bmtqn/status/1876182620331241645,580503780,bmtqn
4,1876148684230169066,Mon Jan 06 06:07:58 +0000 2025,41423,Liat noh sty di tempat kerjanya udah dianggep ...,1876148684230169066,NaN,NaN,in,NaN,897,350,14175,https://x.com/andihiyat/status/187614868423016...,886934161,andihiyat

In [17]:
part3.to_csv('part3_index.csv', index=False)